.userContentContainer {
    margin-top: 80px;
    padding: 50px;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userPageTitle {
    color: rgba(37, 116, 169, 1);
    font-weight: 700;
}

.areaItem {
    width: 70%;
    padding: 20px;
    border: 1px solid rgba(37, 116, 169, 1);
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.areaItem > span {
    font-weight: 200;
}

.delButton {
    padding: 5px 20px;
}

.cardHeader {
    text-align: center;
    color: rgba(37, 116, 169, 1);
}

.addUserContent {
    text-align: center;
    width: 50vw;
}

.inputFieldWrap {
    width: 100%;
    margin: 0 auto 10px;
    border-bottom: 2px solid gray;
}

.inputFieldWrap:focus-within {
    border-bottom-color: rgba(37, 116, 169, 1);
    transition: 0.3s;
}

.inputFieldWrap:focus-within > i {
    transition: 0.3s;
    color: rgba(37, 116, 169, 1);
}

.inputFieldWrap > input, .inputFieldWrap > select {
    width: calc(100% - 20px);
    outline: none;
    border: none;
    background: none;
    padding: 10px 0;
}

.inputFieldWrap > select > option {
    background: none;
    color: black;
}

.inputFieldWrap > i {
    width: 20px;
    text-align: center;
}

.modalFooter {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.modalButton {
    width: 200px;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgba(36, 36, 36, 0.8);
    background: rgba(112, 128, 144, 0.2);
    color: rgba(36, 36, 36, 0.8);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
}

.modalButton:hover {
    background: rgba(36, 36, 36, 0.8);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 960px) {
    .userContentContainer {
        padding: 20px;
    }

    .areaItem {
        width: 100%;
    }

    .addUserContent {
        width: calc(100vw - 100px);
    }

    .modalFooter {
        justify-content: center;
    }
}
