.cart-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 50px;
    background: #fafafa;
    /*min-height: 100vh;*/
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 10px;
    border: 1px solid rgba(37, 116, 169, 1);
    border-radius: 5px;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    background: #ffffff;
    padding: 30px;
}

.cart-item:hover {
    background: rgba(37, 116, 169, 0.1);
}

.cart-item > div {
    margin: 0 10px;
}

.cart-item > .item-info {
    width: 40%;
}

.item-info > div {
    font-size: 25px;
    color: rgba(37, 116, 169, 1);
}

.item-info > span {
    background: rgba(37, 116, 169, 1);
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
}

.item-quantity > span {
    text-align: center;
    margin: auto;
}

.item-quantity > div, .total > div {
    color: gray;
}

.cart-buttons-container {
    display: flex;
    flex-direction: column;
}

.cart-buttons-container > div {
    width: 60px;
    transition: 0.3s;
    padding: 5px;
}


.delete-item {
    border-radius: 5px;
    color: rgba(220,20,60,1);
    height: max-content;
    cursor: pointer;
    background: rgba(220,20,60,0.2);
    border: 1px solid rgba(220,20,60,1);
    text-align: center;
}

.delete-item:hover {
    color: #ffffff;
    background: rgba(220,20,60,1);
}

.select-button {
    background: rgba(37, 116, 169, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(37, 116, 169, 1);
    color: rgba(37, 116, 169, 1);
    height: max-content;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
}

.select-button:hover {
    background: rgba(37, 116, 169, 1);
    color: #ffffff;
}

.deselect-button {
    background: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
}

.deselect-button:hover {
    background: rgba(0,0,0,0.6);
    color: #ffffff;
}

.empty-cart {
    display: block;
    text-align: center;
    margin: auto;
    color: gray;
}

@media screen and (max-width: 960px) {
    .cart-section-container {
        padding: 20px;
    }

    .cart-item {
        width: 100%;
        flex-direction: column;
        padding: 15px;
    }

    .cart-item > div {
        margin: 5px 0;
    }

    .cart-item > .item-info {
        width: 100%;
    }

    .cart-item p {
        margin: 0;
    }

    .item-info > div {
        text-align: center;
    }

    .item-info > p {
        margin-bottom: 10px;
    }

    .cart-buttons-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .cart-buttons-container > div {
        width: 48%;
    }
}
