.cart-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 50px;
    background: #fafafa;
    min-height: 100vh;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 10px;
    border: 1px solid rgba(37, 116, 169, 1);
    border-radius: 5px;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    background: #ffffff;
    padding: 30px;
}

.cart-item:hover {
    background: rgba(37, 116, 169, 0.1);
}

.cart-item > div {
    margin: 0 10px;
}

.cart-item > .item-info {
    width: 40%;
}

.item-info > div {
    font-size: 25px;
    color: rgba(37, 116, 169, 1);
}

.item-info > span {
    background: rgba(37, 116, 169, 1);
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
}

.item-quantity > span {
    text-align: center;
    margin: auto;
}

.delete-item {
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
    height: max-content;
    cursor: pointer;
    background: red;
    text-align: center;
}

.confirm-order {
    background: rgba(37, 116, 169, 1);
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 10px;
    height: max-content;
    cursor: pointer;
    text-align: center;
}

.empty-cart {
    display: block;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 960px) {
    .cart-section-container {
        padding: 20px;
    }

    .cart-item {
        width: 100%;
        flex-direction: column;
        padding: 10px;
    }

    .cart-item > div {
        margin: 5px 0;
    }

    .cart-item > .item-info {
        width: 100%;
    }

    .cart-item p {
        margin: 0;
    }

    .item-info > div {
        text-align: center;
    }

    .item-info > p {
        margin-bottom: 10px;
    }
}
