.hero-container {
    background: url('../assets/drop.jpg') center center/cover no-repeat;
    /*background-attachment: fixed;*/
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    object-fit: contain;
    padding: 50px;
}

.hero-container > span {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.hero-container > .buttons {
    width: 200px;
}
