.map {
    width: 55vw;
}

.mapOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.mapHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.mapHeader > button {
    width: max-content;
    background: none;
    border: 1px solid;
}

.mapHeader > button:hover {
    background: #242424;
    color: #ffffff;
}

.geocoderContainer {
    display: flex;
    justify-content: center;
    /*width: 70vw;*/
    z-index: 1;
    width: 100%;
    margin-bottom: 5px;
}

.location {
    color: white;
    font-size: 25px;
}

.location > i {
    box-shadow: 0 4px 2px -2px gray;
}

@media screen and (max-width: 980px) {
    .map {
        width: 80vw;
    }

}
