.navbar * {
    font-weight: 700;
}

.navbar {
    /*background: linear-gradient(90deg, rgba(28, 27, 27, 0.5) 0%, rgba(26, 23, 23, 0.5) 100%);*/
    /*background: rgba(0, 0, 0, 0.6);*/
    /*background: rgba(37, 116, 169, 0.2);*/
    background: linear-gradient(90deg, rgba(28, 27, 27, 1) 0%, rgba(26, 23, 23, 1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: 0.5s ease-in-out;
}

.login-btn {
    margin-left: 10px;
}

.scroll {
    transition: 0.5s ease-in-out;
    background: linear-gradient(90deg, rgba(28, 27, 27, 1) 0%, rgba(26, 23, 23, 1) 100%);
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.fa-tint {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.dropdown {
    position: relative;
    color: white;
    cursor: pointer;
    display: flex;
    padding: 20px 0;
}

.dropdown > i {
    font-size: 25px;
}

.dropdown:hover > .dropdown-content {
    display: flex;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 0);
    background: rgba(0,0,0,0.7);
    min-width: 130px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0 3px 15px rgba(0,0,0,0.5);
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 10px ;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-item > i {
    width: 15%;
}

.dropdown-item > span {
    width: 70%;
    text-align: left;
}

.dropdown-item:hover {
    color: black;
    background: #ffffff;
}

.dropdown-item:first-child {
    border-radius: 5px 5px 0 0;
}

.dropdown-item:last-child {
    border-radius: 0 0 5px 5px;
}


@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .cross-icon {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        background-color: transparent;
        color: #fff;
        transition: all 0.3s ease-out;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }

    ul.nav-menu {
        margin: 0;
        padding: 0;
    }

    .nav-item {
        height: 60px;
    }

}
