.react-responsive-modal-modal {
    border-radius: 5px;
}

h2.p-name {
    color: rgba(37, 116, 169, 1);
}

.product-quantity-container {
    margin: 10px 0;
}

p {
    font-size: 15px;
    font-weight: normal;
}

.quantity-input {
    width: 50px;
    margin: 0 10px;
    outline: none;
    border: 1px solid rgba(36, 36, 36, 0.8);
    border-radius: 2px;
}

.quantity-button {
    border-radius: 2px;
    margin: 0 5px;
    border: 1px solid rgba(36, 36, 36, 0.8);
    background: rgba(112, 128, 144, 0.2);
    color: rgba(36, 36, 36, 0.8);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
}

.quantity-button:hover {
    background: rgba(36, 36, 36, 0.8);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-button {
    width: 45%;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgba(36, 36, 36, 0.8);
    background: rgba(112, 128, 144, 0.2);
    color: rgba(36, 36, 36, 0.8);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;

}

.modal-button:hover {
    background: rgba(36, 36, 36, 0.8);
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.modal-price {
    color: #ffffff;
    width: max-content;
    border-radius: 5px;
    padding: 5px 10px;
    background: rgba(37, 116, 169, 1);

}
