body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
}

.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-close {
    height: 0;
    width: 0;
    display: none;
}


.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    min-width: 100%;
    background: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 0;
    color: #242424;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl input {
    color: #242424;
    outline: none;
}

Link {
    text-underline: none;
    text-underline-style: none;
}
